{% extends 'base.html' %}

{% block screen %}

    <div class="center">
    <table class="moviedex">


        {% if message %}
            <span class="message"> {{ message|safe }}</span>
        {% endif %}

        {% for m_row in grid %}
        <tr style="height: {{ cell_size }}%;
                line-height: {{ cell_size }}%;">

            {% for index in m_row %}

                <td style="width: {{ cell_size }}%;" class="moviemon_cell"
                    {% if index == active_index %}
                            id="moviemon_cell_active"
                    {% endif %}
                >
                    <div class="poster">
                        <img src="{{ moviemons|return_poster:index }}">
                    </div>
                </td>
            {% endfor %}

        </tr>
        {% endfor %}

    </table>
    </div>

{% endblock screen %}