{% extends 'base.html' %}

{% block screen %}

    <div class="center">
    <table class="slots">

    {% for slot in slots %}
        <tr style="height: 33%; line-height: 33%;"
                    {% if slots|return_by_key:slot == 'Free' %}
                            id="free"
                    {% endif %}
                >
            <td
                {% if slot == active_index %}
                        id="cell_active"
                {% endif %}
            >
                <h3>Slot {{ slot|title }}</h3><br>
                {{ slots|return_by_key:slot }}
            </td>
        </tr>
    {% endfor %}

    </table>
    </div>

{% endblock screen %}